<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9" lang="en-US"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="preIE9" lang="en-US"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en-US"><!--<![endif]-->
<head>
<title>{{ page.title }} | {{ site.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="YourNetworkNerd (https://twitter.com/YourNetworkNerd)">
<meta name="theme-color" content="#DB4343">
<meta property="og:title" content="{{ page.title }} | {{ site.title }}">
<meta property="og:description" content="{{ page.summary }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
{% if page.image == null %}
    <meta property="og:image" content="{{ page.banner }}">
{% else %}
    <meta property="og:image" content="{{ page.image }}">
{% endif %}
<meta name="twitter:card" content="summary_large_image">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/stylesheet.core.css" crossorigin="anonymous">
</head>
<body class="bg-darker text-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-navbar text-light fixed-top">
    <a class="navbar-brand core-font" href="/">YourNetworkNerd</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about"><i class="fas fa-desktop"></i> ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#projects"><i class="fas fa-code-merge"></i> PROJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#donate"><i class="fas fa-donate"></i> DONATE</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownContact" data-toggle="dropdown">
                    <span><i class="fas fa-bars"></i> CONTACT</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownContact">
                    <a class="dropdown-item text-link" href="https://twitter.com/YourNetworkNerd">
                        <span><i class="fab fa-twitter"></i> Twitter</span>
                    </a>
                    <a class="dropdown-item text-link" href="https://discord.gg/VG87Snx">
                        <span><i class="fab fa-discord"></i> Discord</span>
                    </a>
                    <a class="dropdown-item text-link" href="https://github.com/YourNetworkNerd">
                        <span><i class="fab fa-github"></i> Github</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center" style="background-image: url({{ page.banner }}); backround-size: cover;">
    <br><br>
    {% if page.image == null %}
        <img class="avatar" src="/avatar.gif" alt="">
    {% else %}
        <img class="avatar" src="{{ page.image }}" alt="">
    {% endif %}
    <br><br>
    <div class="container rounded" style="background: rgba(0,0,0,0.9)">
        <h1 class="red-shadow core-font">{{ page.title }}</h1>
        <p class="text-muted">Posted: {{ page.date | date_to_long_string: "ordinal", "US" }}</p>
    </div>
</div>
<div class="container text-left">
{{ content }}
</div>
<br><br>
</body>
