<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9" lang="en-US"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="preIE9" lang="en-US"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en-US"><!--<![endif]-->
<head>
<title>{{ site.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="YourNetworkNerd (https://twitter.com/YourNetworkNerd)">
<meta name="theme-color" content="#DB4343">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:image" content="{{ site.url }}{{ site.social }}">
<meta name="twitter:card" content="summary_large_image">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/stylesheet.core.css" crossorigin="anonymous">
</head>
<body class="bg-darker text-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-navbar text-light fixed-top">
    <a class="navbar-brand core-font" href="#">YourNetworkNerd</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about"><i class="fas fa-desktop"></i> ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#projects"><i class="fas fa-code-merge"></i> PROJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#donate"><i class="fas fa-donate"></i> DONATE</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownContact" data-toggle="dropdown">
                    <span><i class="fas fa-bars"></i> CONTACT</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownContact">
                    <a class="dropdown-item text-link" href="https://twitter.com/YourNetworkNerd">
                        <span><i class="fab fa-twitter"></i> Twitter</span>
                    </a>
                    <a class="dropdown-item text-link" href="https://discord.gg/VG87Snx">
                        <span><i class="fab fa-discord"></i> Discord</span>
                    </a>
                    <a class="dropdown-item text-link" href="https://github.com/YourNetworkNerd">
                        <span><i class="fab fa-github"></i> Github</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center bg-dark">
    <br><br>
    <img class="avatar" src="avatar.gif" alt="">
    <br>
    <h1 class="red-shadow core-font">YourNetworkNerd</h1>
</div>
<div id="about" class="container text-left text-light">
    <h3 class="red-shadow core-font">Who Is YourNetworkNerd?</h3>
    <p>
    Hi there! I'm a 26 year old software engineer who specializes in a few languages such as
    Node.JS, HTML5, CSS3, Python, Visual Basic and am in the process of learning C#, C++ and 
    Elixir and Golang. I am a simple guy who is a bit reserved and to myself more times than
    not and that is just about all I have to say on the matter.
    </p>
</div>
<div id="donate" class="container text-left text-light">
    <h3 class="red-shadow core-font">Wanna Donate?</h3>
    <p>
    I don't know why you are even reading this section honestly! But if you are then I thank you for even that much!
    It means a lot to me when people consider supporting independant businesses, projects and services. I have nothing
    but respect for them and I'm glad you have enough to read this.
    </p>
    <p>
    I'm working on a form of perk for users on my Discord Server such as advanced feeds on updates, personal project requests
    and various other things. This is just my way of saying thank you.
    </p>
    <div class="text-center">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="VHTU4R3SE4TDG" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </div>
</div>
</body>
<script src="https://kit.fontawesome.com/0909f1d07b.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</html>
